<div class="main-page__wrapper">
    <section class="registration">
      <div class="registration__wrapper">
        <h2 class="registration__lead">Увеличьте свой словарный запас с RSLang.</h2>
        <img class="tablet-image" src="assets/images/tablet-short.png" alt="image">
      </div>
    </section>

    <section class="about-app">
      <div class="about-app__wrapper">
        <h3 class="about-app__title">О приложении.</h3>
        <p class="about-app__desc">
          <strong>RSLang</strong>
          – позволяет пользователю самому выбирать слова для изучения из коллекции 3600 слов,
           разбитой на шесть групп.
          Процесс изучения полностью регулируется пользователем в разделе "Учебник".
          Есть возможность удалять и помечать слова, как сложные, а также можно закрепить изучаемые слова в мини-играх.<br>
          В разделе "Словарь" пользователь может посмотреть слова выбранные на изучение и задействованные в мини-играх по разделам
          "Изучаемые слова", "Сложные слова" и "Удалённые слова".<br>
          Благодаря разделу "Статистика" можно отслеживать свой прогресс изучения.
        </p>
      </div>
    </section>

    <section class="video-block">
      <h3 class="video-block__title">Посмотрите видео инструкцию.</h3>
      <div slot="videoElement">
        <iframe title="video instruction" src="https://www.youtube.com/embed/vBBzd_7SX0c" height="315" width="560" >
        </iframe>
      </div>
    </section>

    <app-games-section></app-games-section>

    <app-team></app-team>
</div>
