.spinner {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin-top: 200px;
  overflow: hidden;

  .mat-spinner {
    z-index: 1000;
    position: absolute;
    top: calc(50% - 230px);
    left: calc(50% - 30px);
    overflow: hidden;
    opacity: 1;
  }
}
