@import "src/styles/variables";
@import "src/styles/mixins";

.chapter__label {
  height: 140px;
  width: 140px;
  background: $color-blue;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  @include unselectable;
}

.chapter__label--active {
  background: $color-blue;
}

.chapter__unit-title {
  font-weight: bold;
  color: $color-white;
  font-size: 16px;
  line-height: 34px;
}
