@import "src/styles/variables";
@import "src/styles/mixins";

.chapter__avatar {
  width: 140px;
  height: 140px;
  // height: 200px;
  background: $color-blue;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @include unselectable;
}

.chapter__unit-title {
  font-size: 32px;
  font-size: 28px;
  font-weight: bold;
  color: $color-white;
}
