@import "src/styles/variables";
@import "src/styles/mixins";

.chapter__label {
  height: 140px;
  width: 100%;
  background: $color-blue;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  @include unselectable;
}

.chapter__label--active {
  background: $color-blue;
}

.chapter__unit-title {
  font-weight: bold;
  color: $color-white;
  font-size: 16px;
  line-height: 34px;
}

@media screen and (max-width: 768px) {
  .chapter__unit-title {
    font-size: 16px;
    line-height: 34px;
  }
}

@media screen and (max-width: 568px) {
  .chapter__label {
    border-radius: 15px;
  }

  .chapter__unit-title {
    font-size: 14px;
    line-height: 28px;
  }
}
