@import "src/styles/variables";

:host {
  display: block;
  box-shadow: 0 3px 4px rgba(149, 155, 96, 0.12);
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__group {
      display: flex;
      align-items: center;
    }
    &__logo {
      font-weight: bold;
      font-size: 18px;
    }
  }
  .menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    &__link {
      padding: 15px 10px;
      cursor: pointer;
      &:hover {
        color: $color-mint;
      }
      &_active {
        border-bottom: 4px solid $color-mint;
      }
    }
  }
}
