@import "src/styles/variables";
@import "src/styles/resets";

:host {
  display: block;
  position: fixed;
  background-color: $color-white;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0 3px 4px rgba(149, 155, 96, 0.12);
  transition: 0.2s;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__group {
      display: flex;
      align-items: center;
    }
    &__menu-button {
      @include reset-button();
      padding: 0 10px;
      margin-right: 10px;
      outline: none;
      display: none;
      &:hover {
        svg>path {
          fill: $color-green;
        }
      }
      @media screen and (max-width: 768px) {
        display: block;
      }
    }
    &__logo {
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
    }
    &__info {
      color: $color-mint;
      cursor: pointer;
      &:hover {
        color: $color-green;
      }
    }
  }
  .menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    @media screen and (max-width: 768px) {
      display: none;
    }
    &__link {
      padding: 24px 10px 20px;
      font-size: 18px;
      transition: color .2s ease;
      cursor: pointer;
      outline: none;
      user-select: none;
      border-bottom: 4px solid transparent;
      &:hover {
        color: $color-green;
      }
      &_active {
        border-bottom: 4px solid $color-mint;
      }
      &_disabled {
        cursor: default;
        pointer-events: none;
        filter: grayscale(100%);
        color: rgb(106, 106, 103);
      }
    }
  }
}
