<div class="container">
  <header class="header">
    <div class="header__group">
      <button
        mat-icon-button
        class="header__menu-button"
        (click)="openSideBar()"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <div class="header__logo">R S Lang</div>
      <ul class="menu">
        <li
          class="menu__link"
          [class.menu__link_disabled]="!isAuthorized"
          routerLink="dictionary"
          routerLinkActive="menu__link_active"
        >
          Словарь
        </li>
        <li
          class="menu__link"
          [class.menu__link_disabled]="!isAuthorized"
          routerLink="statistics"
          routerLinkActive="menu__link_active"
        >
          Статистика
        </li>
        <li
          class="menu__link"
          [class.menu__link_disabled]="!isAuthorized"
          routerLink="games"
          routerLinkActive="menu__link_active"
        >
          Игры
        </li>
        <li
          class="menu__link"
          [class.menu__link_disabled]="!isAuthorized"
          routerLink="textbook"
          routerLinkActive="menu__link_active"
        >
          Учебник
        </li>
      </ul>
    </div>
    <app-auth-control></app-auth-control>
  </header>
</div>
