<div class="all-games">
    <mat-card class="game-card" (click)="goTo('Savanna')">
        <mat-card-content>
          <p>
            Savanna
          </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="game-card" (click)="goTo('Audio-call')">
        <mat-card-content>
          <p>
            Audio call
          </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="game-card" (click)="goTo('Sprint')">
        <mat-card-content>
          <p>
            Sprint
          </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="game-card" (click)="goTo('Hangman')">
        <mat-card-content>
          <p>
            Hangman
          </p>
        </mat-card-content>
    </mat-card>
</div>
