<div class="all-games">
    <mat-card class="game-card" (click)="goTo('Savanna')">
        <div class="savanna icon"></div>
        <div class="card-name">
            Savanna
        </div>
    </mat-card>
    <mat-card class="game-card" (click)="goTo('Audio-call')">
        <div class="audio-call icon"></div>
        <div class="card-name">
            Audio-call
        </div>
    </mat-card>
    <mat-card class="game-card" (click)="goTo('Sprint')">
        <div class="sprint icon"></div>
        <div class="card-name">
            Sprint
        </div>
    </mat-card>
    <mat-card class="game-card" (click)="goTo('Hangman')">
        <div class="hangman icon"></div>
        <div class="card-name">
            Hangman
        </div>
    </mat-card>
</div>
