$color-background:   #F4F5F9;
$color-mint:         #CCE6C1;
$color-green:        #64A15E;
$color-dark-green:   #1DA362;
$color-white:        #ffffff;
$color-blue:         #4331c0;
$color-light-blue:   #1A73E8;
$color-orange:       #FF8438;
$color-red:          #F44336;
