$color-background:   #F4F5F9;
$color-mint:         #CCE6C1;
$color-green:        #64A15E;
$color-dark-green:   #1DA362;
$color-white:        #ffffff;
$color-blue:         #4331c0;
$color-light-blue:   #1A73E8;
$color-orange:       #FF8438;
$color-red:          #F44336;
$color-primary:      #FF0266;
$color-primary-light:#ff408190;
$color-turquoise:    #51b9bc;
$color-light-orange: #fb8414;
$color-purple:       rgb(144, 118, 192);
$color-yellow:       #ffcb5a;
$color-light-green:  #cddc39;
$color-light-red:    #f9593a;
$color-light-blue:   #2a5cb9;
