<div class="row">
  <mat-checkbox
    class="checkbox"
    color="primary"
  ></mat-checkbox>

  <div class="icon-sound">
    <app-icon-sound></app-icon-sound>
  </div>

  <img class="word-item__image" src="https://via.placeholder.com/44x44" alt="item">

  <div
    class="word-item__word-set">
    <p class="word-item__word-wrapper">
      <strong class="word-item__word">{{ 'boat' }}&nbsp;</strong>
      <span class="word-item__transcription">{{ '[bout]' }}&nbsp;</span>
      <span *ngIf="true" class="word-item__translate">&mdash; &nbsp;{{ 'translation' }}</span>
    </p>

    <div class="word-item__sentence-wrapper">
      <p class="word-item__text-meaning">
        {{ 'A <i>boat</i> is a vehicle that moves across water.' }}&nbsp;
      </p>
      <p *ngIf="true" class="word-item__text-meaning-translate">
        {{ 'Лодка - это транспортное средство, которое движется по воде' }}&nbsp;
      </p>
      <p class="word-item__text-example">
        &#8594; &nbsp;{{ 'There is a small <b>boat</b> on the lake.' }}
      </p>
      <p *ngIf="true" class="word-item__text-example-translate">
        &#8594; &nbsp;{{ 'На озере есть маленькая лодка' }}
      </p>
    </div>
  </div>

  <div class="controls">
    <button class="button-hard">
      <mat-icon class="icon-hard">school</mat-icon>
    </button>

    <button class="button-delete">
      <mat-icon class="icon-delete">delete</mat-icon>
    </button>

  </div>
</div>
