$error-red: #f44336;
@import "src/styles/variables";

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e9ee;
}

.checkbox {
  margin-right: 14px;
}

.word-item__word-set,
.word-item__sentense-wrapper {
  width: 440px;
  padding: 8px;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
}

.word-item__word-wrapper {
  margin: 0;
}

.word-item__word {
  color: $color-light-blue;
  font-size: 14px;
  font-weight: bold;
}

.word-item__transcription {
  color: grey;
  font-weight: 300;
}

.word-item__image {
  margin-left: auto;
  border-radius: 4px;
}

.controls {
  display: flex;
}

// .button-delete {
//   outline: none;
//   background: none;
//   border: none;
//   border-radius: 4px;
//   transition: background-color .2s ease;
//   width: 32px;
//   height: 32px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-left: 14px;
// }

// .button-delete:hover {
//   background-color: #fff2f0;
//   cursor: pointer;
// }

// .icon-delete {
//   color: rgb(126, 145, 159);
//   transition: color .2s ease;
// }

.button-delete:hover .icon-delete {
  color: $error-red;
}

.icon-sound {
  width: 32px;
  height: 32px;
  color: rgb(126, 145, 159);
  transition: color background-color .2s ease;
}

.icon-sound:hover {
  color: $color-light-blue;
  cursor: pointer;
  background-color: #2582e720;
  border-radius: 4px;
}
