.chapters-wrapper {
  max-width: 90%;
  margin: 0 auto;
}

.chapters {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pink {
  background-color: #FF4081 !important;
}

.chapter-label {
  height: 36px;
  flex-grow: 1;
  max-width: 90%;
  background-color: #4331c0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: none;
  cursor: pointer;
}

.chapter-title {
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
  line-height: 34px;
}

.chapter-label:focus,
.chapter-label:active {
  outline: none;
}

.table {
  width: 90%;
  margin: 0 auto;
}
