<form class="wrapper">
  <mat-checkbox
    class="checkbox"
    color="primary"
  ></mat-checkbox>


  <mat-form-field class="example-full-width">
    <input matInput placeholder="Поиск" value="" autocomplete="off">
  </mat-form-field>

  <mat-form-field appearance="fill" class="word-params">
    <mat-label>Показывать:</mat-label>
    <mat-select value="слова">
      <mat-option *ngFor="let param of wordParams" [value]="param.value">
        {{param.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    type="button"
    mat-button
    matTooltip="Отображать перевод"
    matTooltipPosition="above"
    class="button-size">
      <mat-icon class="icon-size">g_translate</mat-icon>
  </button>

  <button
    type="button"
    mat-button
    matTooltip="Компактный режим"
    matTooltipPosition="above"
    class="button-size">
      <mat-icon class="icon-size">reorder</mat-icon>
  </button>

  <div class="menu-block">
    <button
      type="button"
      mat-button [matMenuTriggerFor]="menu"
      color="primary"
      class="button-games">Мини-игры
    </button>
    <mat-menu #menu="matMenu">
      <button type="button" mat-menu-item>Спринт</button>
      <button type="button" mat-menu-item>Саванна</button>
      <button type="button" mat-menu-item>Аудио-вызов</button>
    </mat-menu>
  </div>

  <div class="control-buttons">
    <button
      type="button"
      mat-button
      matTooltip="Отобразить сложные слова"
      matTooltipPosition="above"
      class="button-hard">
        <mat-icon class="icon-hard">school</mat-icon>
    </button>

    <button
      type="button"
      mat-button
      matTooltip="Возможность удалить слова"
      matTooltipPosition="above"
      class="button-delete">
        <mat-icon class="icon-delete">delete</mat-icon>
    </button>
  </div>
</form>
