@import "src/styles/variables";
@import "src/styles/mixins";

:host {
  grid-column-start: 0;
  grid-column-end: span 6;
  grid-row-start: 2;
}

.wrapper {
  display: flex;
  align-items: center;
  padding-top: 1.34375em;
  border-top: 1px solid #e6e9ee;
  border-bottom: 1px solid #e6e9ee;
}

.checkbox {
  margin-right: 14px;
}

.input-wrapper {
  margin-right: auto;
}

.button-games {
  height: 40px;
  margin-right: 14px;
  font-weight: bold;
}

.button-settings .icon-settings {
  color: rgb(126, 145, 159);
  transition: color .2s ease;
}

.button-settings:hover .icon-settings {
  color: $color-blue;
}
