<h3>Фильтер</h3>
<div class="wrapper">
  <mat-checkbox
    class="checkbox"
    color="primary"
  ></mat-checkbox>

  <div class="menu-block">
    <!-- <button mat-button [matMenuTriggerFor]="menu" color="primary">Мини-игры</button> -->
    <!-- <mat-menu #menu="matMenu">
      <button mat-menu-item>Спринт</button>
      <button mat-menu-item>Саванна</button>
      <button mat-menu-item>Аудио-вызов</button>
    </mat-menu> -->
  </div>

  <mat-form-field appearance="fill" class="word-params">
    <mat-label>Показывать:</mat-label>
    <mat-select value="слова">
      <mat-option *ngFor="let param of wordParams" [value]="param.value">
        {{param.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
