<form class="wrapper">
  <mat-checkbox
    class="checkbox"
    color="primary"
    [checked]="isCheckedAll"
    (change)="onCheckboxChange($event.checked)"
  >Выбрать все слова</mat-checkbox>

  <div *ngIf="isCheckedAll" class="controls">
    <button
      type="button"
      class="button-hard"
      (click)="markAsDifficultHandler()">
      <mat-icon class="icon-hard">school</mat-icon>
    </button>

    <button
      type="button"
      class="button-delete"
      (click)="deleteAllSelectedHandler()">
      <mat-icon class="icon-delete">delete</mat-icon>
    </button>

  </div>

  <div class="menu-block">
    <button
      type="button"
      mat-button [matMenuTriggerFor]="menu"
      color="primary"
      class="button-games">Мини-игры
    </button>
    <mat-menu #menu="matMenu">
      <button
        type="button"
        mat-menu-item
        (click)="openSprintGame()">Спринт
      </button>
      <button
        type="button"
        mat-menu-item
        (click)="openSavannaGame()">Саванна
      </button>
      <button
        type="button"
        mat-menu-item
        (click)="openAudioCallGame()">Аудио-вызов</button>
      <button
        type="button"
        mat-menu-item
        (click)="openHangmanGame()">Палач</button>
    </mat-menu>
  </div>

  <button
    type="button"
    mat-icon-button
    class="button-settings"
    (click)="openSettings()">
    <mat-icon class="icon-settings">settings</mat-icon>
  </button>
</form>
