<form
  class="wrapper"
  [class]="getGroupClassName()">
  <mat-checkbox
    class="checkbox"
    color="primary"
    [checked]="isAllChecked"
    (change)="onCheckboxChange($event.checked)"
  >Выбрать все слова
  </mat-checkbox>

  <div *ngIf="isCheckedMoreThenOne()" class="controls">
    <button
      type="button"
      class="button-hard"
      (click)="markAsDifficultHandler()">
      <mat-icon class="icon-hard">school</mat-icon>
    </button>

    <button
      type="button"
      class="button-delete"
      (click)="markAsDeletedHandler()">
      <mat-icon class="icon-delete">delete</mat-icon>
    </button>
  </div>

  <div class="menu-block">
    <button
      type="button"
      mat-button [matMenuTriggerFor]="menu"
      color="primary"
      class="button-games">Мини-игры
    </button>
    <mat-menu #menu="matMenu">
      <button
        type="button"
        mat-menu-item
        (click)="startGame(hangman)">Виселица
      </button>
      <button
        type="button"
        mat-menu-item
        (click)="startGame(sprint)">Спринт
      </button>
      <button
        type="button"
        mat-menu-item
        (click)="startGame(savanna)">Саванна
      </button>
      <button
        type="button"
        mat-menu-item
        (click)="startGame(audioCall)">Аудио-вызов
      </button>
    </mat-menu>
  </div>

  <button
    type="button"
    mat-icon-button
    class="button-settings"
    (click)="openSettings()">
    <mat-icon class="icon-settings">settings</mat-icon>
  </button>
</form>
