.wrapper {
  display: grid;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
}

.list-wrapper {
  position: absolute;
  background: white;
  width: 100%;
  top: 36px;
}
