<ul class="wrapper">
  <app-control-bar
    (markedAllAsDifficult)="markAllAsDifficult($event)"
    (markedAllAsDeleted)="markAllAsDeleted($event)">
  </app-control-bar>

  <ng-container *ngIf="listIsNotEmpty() else loading">
    <app-words-list-item
    *ngFor="let word of listWords; index as i"
    [word]="word"
    (markedAsDifficult)="markAsDifficult($event)"
    (markedAsDeleted)="markAsDeleted($event)"
    >
    </app-words-list-item>

    <mat-paginator
      class="pagination"
      [class]="getGroupClassName()"
      #paginatorRef
      [length]="600"
      [pageSize]="20"
      [pageSizeOptions]="[20]"
      [pageIndex]="pageIndex"
      (page) = "pageChangeEvent($event)">
    </mat-paginator>
  </ng-container>

  <ng-template #loading>
    <app-words-list-spinner></app-words-list-spinner>
  </ng-template>
</ul>
