<ul class="sidebar" [@onOpen]>
  <li class="sidebar__item">
    <img src="assets/icons/icon-vocabulary.svg" alt="icon-vocabulary" class="sidebar__icon">
    <span class="sidebar__item-title">Vocabulary</span>
  </li>
  <li class="sidebar__item">
    <img src="assets/icons/icon-games.svg" alt="icon-games" class="sidebar__icon">
    <span class="sidebar__item-title">Games</span>
  </li>
  <li class="sidebar__item">
    <img src="assets/icons/icon-statistics.svg" alt="icon-statistics" class="sidebar__icon">
    <span class="sidebar__item-title">Statistics</span>
  </li>
</ul>

