<nav class="sidebar" [@onOpen]>
  <div class="sidebar__header">
    <div class="sidebar__logo">RS Lang</div>
    <div class="sidebar__close-button" (click)="onClose()">
      <img src="assets/icons/icon-close.svg" alt="close" />
    </div>
  </div>
  <ul class="menu">
    <li class="menu__item">
      <img
        src="assets/icons/icon-vocabulary.svg"
        alt="icon-vocabulary"
        class="menu__icon"
      />
      <a
        class="menu__link"
        [class.menu__link_disabled]="!isAuthorized"
        routerLink="dictionary"
        routerLinkActive="menu__link_active"
        >Словарь</a
      >
    </li>
    <li class="menu__item">
      <img
        src="assets/icons/icon-games.svg"
        alt="icon-games"
        class="menu__icon"
      />
      <a
        class="menu__link"
        routerLink="games"
        routerLinkActive="menu__link_active"
      >
        Игры</a
      >
    </li>
    <li class="menu__item">
      <img
        src="assets/icons/icon-statistics.svg"
        alt="icon-statistics"
        class="menu__icon"
      />
      <a
        class="menu__link"
        [class.menu__link_disabled]="!isAuthorized"
        routerLink="statistics"
        routerLinkActive="menu__link_active"
      >
        Статистика</a
      >
    </li>

    <li class="menu__item">
      <img
        src="assets/icons/icon-textbook.svg"
        alt="icon-statistics"
        class="menu__icon"
      />
      <a
        class="menu__link"
        routerLink="textbook"
        routerLinkActive="menu__link_active"
      >
        Учебник</a
      >
    </li>
  </ul>
</nav>
