<audio #stream src="{{audioForRoundUrl}}" (canplay)="playAudio()" (ended)="audioEnded()"></audio>
<app-spinner *ngIf="!answers.length && gameStep!==4"></app-spinner>
<div class="savanna" *ngIf="answers.length && gameStep!==4">
  <div class="questionWrapper" [ngStyle]="{'top': topValueString}">
    <p class="question">вопрос</p>
  </div>
  <!-- <div class="audioComponent">
    <div class="audioComponentWrapper"
      [ngClass]="{
        'block': gameStep===0 || gameStep===1,
        'grid': gameStep===2 || gameStep===3
      }"
    >
      <div class="audioComponentImg"
        [ngStyle]="{
          'background-image': 'url(https://raw.githubusercontent.com/Dirtymalka/rslang-data/master/' + answers[gameRound].image + ')'
        }"
        [ngClass]="{
          'none': gameStep===1 || gameStep===0,
          'block': gameStep!==1 || gameStep!==0
        }"
      >
      </div>
      <div class="audioComponentButton"
        [ngClass]="{
          'audioComponentButtonWait': gameStep===1 || gameStep===0,
          'audioComponentButtonAnswer': gameStep===2 || gameStep===3
        }"
        (click)="playAudio()">
        <mat-icon class="audioIcon"
          [ngClass]="{
            'audioIconWait': gameStep===1 || gameStep===0,
            'audioIconAnswer': gameStep===2 || gameStep===3
          }"
        >
          volume_up
        </mat-icon>
      </div>
      <p
        class="audioComponentTranslate"
        [ngClass]="{
          'none': gameStep===1 || gameStep===0,
          'block': gameStep!==1 || gameStep!==0
        }"
      >
        {{answers[gameRound].word}}
      </p>
    </div>
  </div> -->
  <div>
    <ul class="answersList">
      <li class="answer"
        [ngClass]="{
          'incorrectAnswer': gameStep===3 && item.word===userAnswer,
          'incorrectAnswers': (gameStep===2 || gameStep===3) && item.word!==answers[gameRound].word
          }"
        *ngFor="let item of wordsForRounds[gameRound]; index as i"
          (click)="checkAnswer(item.word)"
      >
        {{i+1}} {{item.wordTranslate}}
        <mat-icon class="correctMark" *ngIf="gameStep===2 && item.word === answers[gameRound].word">done</mat-icon>
      </li>
    </ul>
  </div>
  <button mat-button class="continueButton" disabled="{{gameStep===0}}" color="primary" (click)="handlerNextButton()">
    <span *ngIf="gameStep === 1 || gameStep === 0">НЕ ЗНАЮ</span>
    <span *ngIf="gameStep === 2 || gameStep === 3">Следующее</span>
  </button>
</div>
<app-game-statistics *ngIf="gameStep===4"
    [gameName]="'audio-call'" [wrongAnswers]="wordsResult.dontKnow"
    [rightAnswers]="wordsResult.know"
>
</app-game-statistics>
