<footer class="footer container">
  <ul class="team">
    <li class="team__member">
      <a
        href="https://github.com/Dirtymalka"
        class="team__member-link"
        target="_blank"
        >Artem Antonov</a
      >
    </li>
    <li class="team__member">
      <a
        href="https://github.com/maxim-tihomirov"
        class="team__member-link"
        target="_blank"
        >Maksim Tihomirov</a
      >
    </li>
    <li class="team__member">
      <a
        href="https://github.com/jenia-shibkova"
        class="team__member-link"
        target="_blank"
        >Yauheniya Shybkova</a
      >
    </li>
    <li class="team__member">
      <a
        href="https://github.com/YuriySga"
        class="team__member-link"
        target="_blank"
        >Yuriy Sulyga</a
      >
    </li>
  </ul>
  <div class="footer__logo">
    <a href="https://rs.school/angular" target="_blank">
      <img src="https://rs.school/images/rs_school_js.svg" alt="rs-school" />
    </a>
    <span>2021</span>
  </div>
</footer>
